:root {
  --gap-for-flex-shop: 1em;
  --padding-shop-head: 1em;
  --translateY-btn: 0.1em;
  --btn-active: #3e8e41;
  --font-size-shop-350px: 1.2em;
  --shopCard-width: calc(var(--card-width) * 2);
  --shopCard-height: calc(var(--shopCard-width) * 1.4);
  --gap-for-items: 0.5em;
  --gap-for-items-head: calc(var(--gap-for-items) / 2);
  --font-size-tbcard-vSh: calc(var(--shopCard-width) / 5);
  --font-size-ccard-vSh: calc(var(--shopCard-width) / 1.7);
  --item-border: 0.1em;
}

.shop {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: var(--gap-for-flex-shop);
  background-color: chocolate;
  min-height: 100%;
  overflow-y: auto;
}

.shop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-shop-head);
  gap: var(--gap-for-flex-shop);
  width: 100%;
  color: black;
  background-color: rgb(155, 60, 112);
}

.shop-head h2 {
  margin: 0;
  padding: 0;
}

.balance {
  font-size: var(--font-size-shop-350px);
  color: yellow;
}
/* .choose-container {

} */

.all-items-container {
  display: flex;
  gap: var(--gap-for-flex-shop);
  flex-wrap: wrap;
  color: black;
  width: 100%;
  background-color: coral;
  padding: var(--padding-shop-head);
  justify-content: center;
}

.active-shop-btn {
  background-color: var(--btn-active);
  transform: translateY(var(--translateY-btn));
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-back-btn:active {
  background-color: var(--btn-active);
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-for-items);
  /* border: var(--item-border) solid red; */
  border-radius: var(--card-radius);
  padding: var(--padding-shop-head);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.owned {
  border: 0.2em solid red;
}

.checkmark-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  width: 12px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin-top: -4px;
}

.item-head {
  display: flex;
  flex-direction: column;
  gap: var(--gap-for-items-head);
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  line-height: 1;
  background-color: #3e8e41;
  border-radius: var(--card-radius);
  padding: calc(var(--padding-shop-head) / 3);
}

.item-head h3 {
  margin: 0;
  padding: 0;
}

.shop-item-container {
  display: flex;
  gap: var(--gap-for-items);
  width: 100%;
  justify-content: center;
}

.shop-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.shop-item-card {
  padding: var(--padding-c);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--shopCard-width);
  height: var(--shopCard-height);
  border-radius: var(--card-radius);
  box-sizing: border-box;
  /* margin: 0px 5px; */
  background-color: white;
}

.shop-card-top-left {
  font-size: var(--font-size-tbcard-vSh);
  padding: var(--padding-c);
  margin-top: 0;
  /* height: max-content; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.shop-card-center {
  font-size: var(--font-size-ccard-vSh); /* Размер шрифта */
  line-height: 1; /* Убираем лишний межстрочный интервал */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  /* display: inline-block; Или просто block, если не нужно inline-поведение */
  width: 100%; /* Если нужно растянуть на всю ширину */
  text-align: center; /* Центрируем текст по горизонтали */
}

.value-red {
  color: red;
}

.value-black {
  color: black;
}

.shop-card-bottom-right {
  font-size: var(--font-size-tbcard-vSh);
  /* height: max-content; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; /* Текст прижимается к низу */
  padding: var(--padding-c); /* Добавляет отступы */
  margin-bottom: 0;
  transform: rotate(180deg);
}

.shop-item-fon {
  background: red;
  width: 100%;
  height: 100%;
}

@media (min-width: 350px) {
  .shop button {
    font-size: var(--font-size-shop-350px);
  }
}
